* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --form-label: #1f2937;
    --label-color: #4b5563;
    --input-border-color: #e5e7eb;
}

html {
    overflow-x: hidden;
}

[data-theme="dark"] {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
    --form-label: #FBFBFB;
    --label-color: #FBFBFB;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
    --form-label: #FBFBFB;
    --label-color: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/* section header */
.section-header {
    background-color: var(--light);
}

.section-header .header-input {
    background-color: var(--grey);
    border-radius: 50px;
    padding: 7px 12px;
}

.section-header .header-input input {
    background-color: var(--grey);
    border: none;
    color: var(--dark);
}

.section-header .header-input input:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--grey);
}

.section-header h3 {
    color: var(--dark);
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
    padding: 0;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
    color: var(--blue);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

#sidebar .side-menu.bottom li:nth-last-of-type(-n+2) {
    /* Son iki <li>'yi seç */
    position: absolute;
    /* Ebeveynine göre konumlandır */
    bottom: 0;
    /* En alt */
    left: 0;
    right: 0;
    text-align: center;
}

/* Birbirinin üzerine binmesini engellemek için */
#sidebar .side-menu.bottom li:nth-last-of-type(2) {
    bottom: 40px;
    /* İkinci son öğeyi yukarı kaydır */
}

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 220px);
    left: 220px;
    transition: .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav .profile-status {
    max-width: 400px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .notification {
    font-size: 20px;
    position: relative;
}

#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Notification Dropdown */
#content nav .notification-menu {
    display: none;
    position: absolute;
    top: 56px;
    right: 0;
    background: var(--light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9999;
    font-family: var(--lato);
}

#content nav .notification-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;

}

#content nav .notification-menu li {
    padding: 10px;
    border-bottom: 1px solid var(--grey);
    color: var(--dark);
}

#content nav .notification-menu li:hover {
    background-color: var(--light-blue);
    color: var(--dark);
}

#content nav .notification-menu li:hover a {
    background-color: var(--dark-grey);
    color: var(--light);
}

body.dark #content nav .notification-menu li:hover {
    background-color: var(--light-blue);
    color: var(--light);
}

body.dark #content nav .notification-menu li a {
    background-color: var(--dark-grey);
    color: var(--light);
}

#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

#content nav .profile-menu {
    display: none;
    position: absolute;
    top: 56px;
    right: 0;
    background: var(--light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 200px;
    z-index: 9999;
    font-family: var(--lato);
}

#content nav .profile-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#content nav .profile-menu li {
    padding: 10px;
    border-bottom: 1px solid var(--grey);
}

#content nav .profile-menu li:hover {
    background-color: var(--light-blue);
    color: var(--dark);
    cursor: pointer;
}

#content nav .profile-menu li a {
    color: var(--dark);
    font-size: 16px;
}

body.dark #content nav .profile-menu li:hover a {
    color: var(--light);
}

body.dark #content nav .profile-menu li a {
    color: var(--dark);
}

#content nav .profile-menu li:hover a {
    color: var(--dark);
}

/* Active State for Menus */
#content nav .notification-menu.show,
#content nav .profile-menu.show {
    display: block;
}

#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}

#content nav .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}


#content nav .swith-lm {
    background-color: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    position: relative;
    height: 21px;
    width: 45px;
    transform: scale(1.5);
}

#content nav .swith-lm .ball {
    background-color: var(--blue);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#content nav .checkbox:checked+.swith-lm .ball {
    transform: translateX(22px);
}

.bxs-moon {
    color: var(--yellow);
}

.bx-sun {
    color: var(--orange);
    animation: shakeOn .7s;
}



/* NAVBAR */





/* MAIN */
#content main {
    width: 100%;
    font-family: var(--poppins);
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
}

#content .section-header .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    padding-left: 0;
}

#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#content main .box-info li .text p {
    color: var(--dark);
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .head .search-input {
    background-color: var(--grey);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    width: 20%;
}

#content main .table-data .head .search-input input {
    border: none;
    color: black;
    background-color: var(--grey);
    font-size: .8rem;
    width: 88%;
}

#content main .table-data .head .search-input input:focus {
    outline: none;
    box-shadow: none;

}

#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .head .query-filter {
    position: relative;
}

#content main .table-data .head .query-filter .filter-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background: var(--light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 140px;
    z-index: 9999;
    font-family: var(--lato);
}

#content main .table-data .head .query-filter .filter-menu.show {
    display: block;
}

#content main .table-data .head .query-filter .filter-menu label {
    margin: 5px;
    padding: 5px;
    gap: 10px;
    display: flex;
    border-radius: 8px;
    font-size: 1rem;
}

#content main .table-data .head .query-filter .filter-menu label:hover {
    background-color: var(--grey);
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
    flex: 1;
    max-height: 100%;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    width: 5%;
}

#content main .table-data .order table td {
    padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
    background: var(--grey);
}

#content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 0px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
    color: black;
    text-align: start;
    display: flex;

}

#content main .table-data .order table tr td .status.process {
    background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
    background: var(--orange);
}


#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
    width: 100%;
}

#content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}

/* MAIN */
/* CONTENT */
#content main .menu,
#content nav .menu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

#content main .menu a,
#content nav .menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

#content main .menu a:hover,
#content nav .menu a:hover {
    background-color: #444;
}

#content main .menu-link,
#content nav .menu-link {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

#content main .menu-link:hover,
#content nav .menu-link:hover {
    text-decoration: underline;
}





/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {

    /* Reduce width of notification and profile menu */
    #content nav .notification-menu,
    #content nav .profile-menu {
        width: 180px;
    }

    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}




@media screen and (max-width: 576px) {

    #content nav .notification-menu,
    #content nav .profile-menu {
        width: 150px;
    }

    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show~.notification,
    #content nav form.show~.profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }

    #content main .table-data .order table {
        min-width: 420px;
    }

    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }

    .chatContainer {
        min-width: 420px;
    }
}

/* message section */
.chatContainer {
    /* width: 100%; */
    /* margin: 20px auto; */
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
    background-color: #f0f2f5;
    padding: 12px 16px;
    border-radius: 18px;
    line-height: 1.4;
    font-size: 0.95rem;
    color: #050505;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin-bottom: 1rem;
}

.chatContainer:hover {
    cursor: pointer;
    background: var(--grey);
}

.chatContainer .message-left {
    width: 92%;
}

/* ChatMessage.module.css */
.messageContainer {
    display: flex;
    /* margin-bottom: 25px; */
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.right {
    flex-direction: row-reverse;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: white
}

.content {
    max-width: 80%;
}

.header {
    margin-bottom: 5px;
}

.sender {
    font-weight: 600;
    font-size: 0.9rem;
    color: #1a1a1a;
}

.message {
    /* background-color: #f0f2f5;
    padding: 12px 16px;
    border-radius: 18px;
    line-height: 1.4;
    font-size: 0.95rem;
    color: #050505; */
    /* max-width: 400px; */
    width: 100%;


}

.message p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.right .message {
    background-color: #0084ff;
    color: white;
}

.timestamp {
    font-size: 0.75rem;
    color: #65676B;
    margin-top: 5px;
    margin-left: 10px;
}

.right .timestamp {
    text-align: right;
    margin-right: 10px;
}

/*<------------------------------------------ itemList ------------------------------> */
.products-area-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.tableView .products-header {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: var(--light);
    position: sticky;
    top: 0;
}

.tableView .products-row {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.tableView .products-row:hover {
    box-shadow: var(--filter-shadow);
    background-color: var(--app-content-secondary-color);
}

.tableView .products-row .cell-more-button {
    display: none;
}

.tableView .product-cell {
    flex: 1;
    padding: 8px 16px;
    color: var(--app-content-main-color);
    font-size: var(--font-small);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableView .product-cell img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 6px;
}

@media screen and (max-width: 780px) {
    .tableView .product-cell {
        font-size: 12px;
    }

    .tableView .product-cell.image span {
        display: none;
    }

    .tableView .product-cell.image {
        flex: 0.2;
    }
}

@media screen and (max-width: 520px) {

    .tableView .product-cell.category,
    .tableView .product-cell.sales {
        display: none;
    }

    .tableView .product-cell.status-cell {
        flex: 0.4;
    }

    .tableView .product-cell.stock,
    .tableView .product-cell.price {
        flex: 0.2;
    }
}

@media screen and (max-width: 480px) {
    .tableView .product-cell.stock {
        display: none;
    }

    .tableView .product-cell.price {
        flex: 0.4;
    }
}

.tableView .sort-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--app-content-main-color);
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.tableView .sort-button:hover {
    color: var(--action-color);
}

.tableView .sort-button svg {
    width: 12px;
}

.tableView .cell-label {
    display: none;
}

.status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 12px;
}

.status:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

.status.active {
    color: #2ba972;
    background-color: rgba(43, 169, 114, 0.2);
}

.status.active:before {
    background-color: #2ba972;
}

.status.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);
}

.status.disabled:before {
    background-color: #59719d;
}

/* <-------------------------form----------------------------------> */
.main-form {
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background-color: var(--grey);
    /* min-height: 100vh; */
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 20px;

}

.main-form .form-container {
    /* background: white; */
    background: var(--light);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}

.main-form .step {
    display: none;
    animation: fadeIn 0.5s ease;
}

.main-form .step.active {
    display: block;
}

.main-form h2 {
    /* color: #1f2937; */
    color: var(--form-label);
    margin-bottom: 30px;
    font-size: 24px;
}

.main-form .form-group {
    margin-bottom: 25px;
}

.main-form label {
    display: block;
    margin-bottom: 8px;
    color: var(--label-color);
    font-weight: 500;
}

.main-form input,
.main-form textarea,
.main-form select {

    width: 100%;
    padding: 12px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.main-form input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #6366f1;
}

.main-form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-form button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* <------------------------pagination------------------------------------> */
.pagination {
    background-color: var(--light);
    padding: 15px 20px;
    border-radius: 20px;
}

.pagination ul {
    display: flex;
    flex-wrap: wrap;
    background: var(--light);
    padding: 8px;
    border-radius: 50px;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
}

.pagination p {
    color: var(--dark);
}

.pagination ul li {
    color: #20B2AA;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #20B2AA;
}

.pagination button {
    background-color: var(--blue);
    color: var(--light);
}

/* <-------------------------login page -------------------------------------> */

/* Login Title with Left Border */
.card-body{
    padding: 0 !important;
}
.login-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    border-left: 5px solid #4da18e; /* Green left border */
  }
  
/* Background */
.login-container {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  /* Login Card */
  .login-card {
    width: 450px;
    border-radius:0 !important;
    border: 0px !important;
    background: white;
    position: relative;
    text-align: center;
  }
  
  /* Login Title */
  .login-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 25px;
    margin-top: 30px;
    padding-left: 25px;
  }
  
  .form{
    padding: 0px 25px 25px 25px;
  }
  /* Form Labels */
  .form-label {
    font-size: 18px;
    color: gray;
    text-align: left;
    display: block;
  }
  
  /* Input Fields */
  .input-field {
    border: none !important;
    border-bottom: 3px solid #4da18e !important;
    border-radius: 0 !important;
    box-shadow: none;
    height: 38px;
  }
  
  /* Login Button */
  .login-btn {
    background-color: #4da18e !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 10px !important;
    transition: 0.3s !important;
  }
  
  .login-btn:hover {
    background-color: #3b8671;
  }
  
  /* Floating Add (+) Icon */
  .add-icon {
    width: 50px;
    height: 50px;
    background-color: #4da18e;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    right: -20px;
    top: 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Bottom Left Signature */
  .signature {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-family: cursive;
    color: gray;
    font-size: 18px;
  }