* {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.roww {
    width: 95% !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

/* ------Restaurant-Tabs------ */
.res-tab ul li h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 300;
}

.res-tab ul li {
    border-radius: 10px;
}

/* ----Category-tab---- */
.cat-tab {
    border-radius: 10px 10px 5px 5px;
    border: 1px solid #eee;
    max-height: 550px;
    overflow-y: scroll !important;
}

.cat-tab::-webkit-scrollbar {
    display: none;
}

.cat-tab .li {
    font-size: 25px;
    background-color: black;
    color: orange;
    border-radius: 10px 10px 0px 0px;
}

.cat-tab .li-a {
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.cat-tab ul {
    text-decoration: none;
    list-style-type: none;
}

.cat-tab ul li {
    list-style-type: none;
}

/* ---Menu-tab---- */
.menu-tab {
    max-height: 550px;
    overflow-y: scroll !important;
    border-radius: 6px 6px 5px 5px;
}

.menu-tab::-webkit-scrollbar {
    display: none;
}

/* -----Merge----- */
.main {
    background-color: #efecec;
}

.main .btn button {
    background-color: #efecec;
}

.main .btn button:hover {
    color: orange;
}

.modal-header button .btn-close {
    color: white;
}

.modal-open .fade {
    overflow: hidden;
}

.modal-open .modal-body::-webkit-scrollbar {
    display: none;
}

.profile .btn {
    box-shadow: 0 4px 14px #0000000f;
    border: none;
}

.profile button:hover {
    color: orange;
}

.modal-content {
    box-shadow: 0px 0px 5px 0px white;
}

.icon-style {
    width: 100%;
    height: 100%;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -----RESPONSIVE------ */

@media screen and (max-width:1000px) {

    /* ---Navbar----- */
    .navbar .nav-res {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .navbar .nav-res a {
        display: flex;
        align-items: center;
    }

    .navbar .roww {
        display: block !important;
    }

    .navbar .search-bar {
        width: 100% !important;
    }

    .slide-image {
        height: 250px !important;
    }

    .res-tab li {
        width: 18% !important;
        padding: 2px 0px !important;
    }

    .res-tab h4 {
        font-size: 18px !important;
    }

    .cat-tab {
        display: none;
    }

    .menu-tab {
        width: 100% !important;
    }

    .menu-tab h3 {
        display: none;
    }
    .menu-tab .btn-b{
      padding: 0 !important;  
    }
    .menu-tab .container .add-now{
        width: 90px !important;
        height: 27px !important;
    }

}

@media (max-width: 830px) {
    .res-tab h4 {
        font-size: 16px !important;
    }

    .res-tab li {
        width: 18% !important;
        padding: 5px 0px !important;
    }
}

@media (max-width: 600px) {
    .slide-image {
        height: 200px !important;
    }

    .res-tab h4 {
        font-size: 15px !important;
    }

    .res-tab li {
        width: 23% !important;
        padding: 5px 0px !important;
    }
    .menu-tab .container h5{
        font-size: 1.2rem;
    }
    .menu-tab .container p{
        font-size: .9rem;
    }
    .menu-tab .container .img img{
        width: 90px !important;
        height: 90px !important;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 100% !important;
    }
}

@media(max-width: 500px) {
    .navbar {
        padding: 10px !important;
    }

    .res-tab ul li {
        width: 23% !important;
    }

    .res-tab ul {
        margin: 0;
        width: 100% !important;

    }

    .res-tab h4 {
        font-size: 15px !important;
    }

    .roww {
        width: 100% !important;
    }

    .res-tab {
        overflow: scroll !important;
        margin-bottom: 10px;
    }
    .menu-tab .container h5{
        font-size: 1rem;
    }
    .menu-tab .container p{
        font-size: .8rem;
    }
    .menu-tab .container .img img{
        width: 70px !important;
        height: 70px !important;
    }

}

@media (max-width: 400px) {
}

@media (min-width: 1200px) {}